#content {
	padding-top: 12%;
	text-align: center;
	color: white;
}
.textbox {
	border:0px solid #000000;
	border-radius:10px;
	height: 20px;
	width: 90%;
	max-width: 300px;
	background: #FFFFFF;
	color: black;
	text-align: center;
	font-size: 12px;
	font-weight: 200;
	font-size: 15px;
	margin-top: 3% ;
	margin-bottom: 3% ;
	padding-right: 1px;
	box-shadow: 5px 2px 8px rgb(55,71,71);

}

#index1 {
	width: 30px;
	height: 30px;
}
#index2 {
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 10px;
	margin-top: -90px;
}

#saveButton {
	float: middle;
	margin-right: 10px;
	margin-top: 20px;
	border-radius:10px;
}
.centered-table {
   margin-left: auto;
   margin-right: auto;
}


.tableLeft {
	text-align: right;
	width: 10%;
	padding-right: 5px;
	   margin-left: auto;
   margin-right: auto;
}
.tableRight {
	text-align: center;
	width: 30%;
	   margin-left: auto;
   margin-right: auto;
}
.tableText {
	font-size: 11px;
	text-align: left;
	padding-left: 0%;
	color: rgb(192,192,192);
	text-align: center;
	padding-bottom:10px;
}