.icon {
	width: 100px;
	height: 100px;
}
.iconContainer {
	float: left;
}
.nodeContainer {
	height: 120px;
}
.unFdBtn, .addFd {
	float: right;
	width: 80px;
}
#input {
	float: left;
	width: 300px;
	height: 300px;
}
#profilePic {
	width: 200px;
	height: 200px;
}
.custom-file-upload {
	width: 200px;
	background-color: #2E2E2E;
	color: white;
	cursor: pointer;
	text-align: center;
}
#fileUpload {
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.action {
	width: 100%;
	height:30px;
	margin: 10px 0;
	text-align: center;
	padding-right: 31%
	
}
.cropped>img {
	margin-right: 10px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 220px;
}
#infoContainer {
	padding-top: 20px;
}
#userName {
	font-weight: bold;
	font-size: 32px;
}
.panel {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px; 
}
.textbox {
	border:1px solid #000000;
	border-radius:3px;
	height: 35px;
	width: 40%;
	background: #F7F2C4;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px ;
}
.panel-heading {
	font-weight: bold;
}
#profilePicContainer {
	text-align: center;
}
#msg {
	color: red;
}
#changePwBtn {
	margin-left: 28%;
}


#right {
    float: right;
    vertical-align: middle;
}
.circle-Save {
    font-size: 200%;
    display: table-cell;
    height: 200px;
    width: 100px;
    text-align: left;
    padding-left:10%;
    vertical-align: middle;
    border-radius: 100px 0px 0px 100px;
    background: #A9DED1;
    color: #284D57;
}