<script type="text/template" id="ItemView">

</script>


<script type="text/template" id="ListView">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><%= QuestCMS.l("Member ") %><%= QuestCMS.l("Information") %></h3>
					<a href="#user/search"	class="btn btn-primary btn-md admin viewAllUsers"><%= QuestCMS.l("All User") %></a>
      </div>
      <div class="col-md-4">
        <h3><%= QuestCMS.l("Appointment") %></h3>
					<a href="#appointment/viewTodayAppointment" class="btn btn-primary btn-md admin" style="display:inline-block"><%= QuestCMS.l("Daily") %></a>
					<a href="#appointment/viewMonthAppointment" class="btn btn-primary btn-md admin viewMouthAppointment"><%= QuestCMS.l("Monthly") %></a>
      </div>
      <div class="col-md-4">
        <h3><%= QuestCMS.l("Stock") %></h3>
					<a href="#item/createNewItem" class="btn btn-primary btn-md admin createItem"><%= QuestCMS.l("new item") %></a>
					<a href="#item/manageItem" class="btn btn-primary btn-md admin manageItem"><%= QuestCMS.l("review ") %><%= QuestCMS.l("item") %></a>
					<a href="#inventory/stockIn" class="btn btn-primary btn-md admin stockIn"><%= QuestCMS.l("Stock In") %></a>
					<a href="#inventory/stockOut" class="btn btn-primary btn-md admin stockOut"><%= QuestCMS.l("Stock Out") %></a>
      </div>
		</div>
		<div class="row">
      <div class="col-md-4">
        <h3><%= QuestCMS.l("Vendor") %></h3>
					<a href="#vendor/createVendorCategory" class="btn btn-primary btn-md admin manageVendorCategory"><%= QuestCMS.l("Manage Categories") %></a>
					<a href="#vendor/createVendor" class="btn btn-primary btn-md admin createVendor"><%= QuestCMS.l("New Vendor") %></a>
					<a href="#vendor/findAll" class="btn btn-primary btn-md admin vendorList"><%= QuestCMS.l("Vendor ") %><%= QuestCMS.l("List") %></a>
      </div>
      <div class="col-md-4">
        <h3><%= QuestCMS.l("Report") %></h3>
					<a href="#export/frontdeskReport" class="btn btn-primary btn-md admin"><%= QuestCMS.l("Front Desk ") %><%= QuestCMS.l("Report") %></a>
					<a href="#export/stockReport" class="btn btn-primary btn-md admin"><%= QuestCMS.l("Stock ") %><%= QuestCMS.l("Report") %></a>
					<a href="#export/accountingReport" class="btn btn-primary btn-md admin"><%= QuestCMS.l("Accounting ") %><%= QuestCMS.l("Report") %></a>
					<a href="#export/applicationReport" class="btn btn-primary btn-md admin"><%= QuestCMS.l("Admin ") %><%= QuestCMS.l("Report") %></a>
      </div>
      <div class="col-md-4">
        <h3><%= QuestCMS.l("Administration") %></h3>
					<a href="#" class="btn btn-primary btn-md admin release" disabled><%= QuestCMS.l("Release ") %><%= QuestCMS.l("Appointment") %></a>
					<a href="#dailySetting/calendar" class="btn btn-primary btn-md admin dailySetting"><%= QuestCMS.l("Daily Setting") %></a>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="ModalView">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel"><%= QuestCMS.l("Title") %></h3>
        </div>
      <div id="modal-content" class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= QuestCMS.l("Close") %></button>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</script>


<script type="text/template" id="AdminUniveralSearchResultView">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<button class="btn btn-primary btn-md viewUserProfile"><%= QuestCMS.l("View User Profile") %></button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary btn-md viewAppointment"><%= QuestCMS.l("View User Booked Appointment") %></button>
			</div>
		</div>
		<hr/>
		<div class="displayResult"></div>
	</div>
</script>