<script type="text/template" id="ViewAllAppointmentCompositeView">

	<div class="container">
	<h2 class="dailyAppointmentHeader"><%= QuestCMS.l("Daily ") %><%= QuestCMS.l("Appointment") %></h2>
			<form class="form-horizontal filter-form" role="form">
				<fieldset>
					<div class="form-ground header">
						<div class="panel panel-info">
							<div class="panel-heading user-header viewAllAppointment">
								<%= QuestCMS.l("Appointment ") %><%= QuestCMS.l("Filter") %>
								<div class="form-group col-md-2 pull-right"  style="margin-top:-9px;margin-bottom:0px">
									<select id="branch" name="branch" class="form-control" data-toggle="floatLabel" data-value="no-js">
									</select>
									<label for="branch" style=""><%= QuestCMS.l("Branch") %></label>
								</div>
							</div>
							<div class="form-input-btn">
								<div class="form-group col-md-2">
									<input name="date" class="form-control input-md bookingDate" placeholder="<%= QuestCMS.l("Date") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="date" style=""><%= QuestCMS.l("Date") %></label>
								</div>
								<div class="form-group col-md-2" style="width:120px;">
									<input name="startTime" class="form-control input-md bookingStartTime" placeholder="<%= QuestCMS.l("Start ") %><%= QuestCMS.l("Time") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="time" style=""><%= QuestCMS.l("Time") %></label>
								</div>
								<div class="form-group col-md-2" style="width:120px;">
									<input name="endTime" class="form-control input-md bookingEndTime" placeholder="<%= QuestCMS.l("End ") %><%= QuestCMS.l("Time") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="time" style=""><%= QuestCMS.l("Time") %></label>
								</div>
								<div class="form-group col-md-2">
									<input name="name" class="form-control input-md name" placeholder="<%= QuestCMS.l("Name") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="name" style=""><%= QuestCMS.l("Name") %></label>
								</div>
								<div class="form-group col-md-2">
									<input name="HKID" class="form-control input-md HKID" placeholder="<%= QuestCMS.l("HKID") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="HKID" style=""><%= QuestCMS.l("HKID") %></label>
								</div>
 								<div class="form-group col-md-2"  style="width:165px;">
									<input name="universalSearch" class="form-control input-md" placeholder="<%= QuestCMS.l("Enter ") %><%= QuestCMS.l("Key Words") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="universalSearch" style=""><%= QuestCMS.l("Key Words") %></label>
								</div>
								<div class="form-group col-md-2" style="width:150px;">
									<select id="status" name="status" class="form-control" data-toggle="floatLabel" data-value="no-js">
										<option value="" selected><%= QuestCMS.l("Select ") %><%= QuestCMS.l("Status") %></option>
										<option value="pending"><%= QuestCMS.l("Pending") %></option>
										<option value="confirmed"><%= QuestCMS.l("Confirmed") %></option>
										<option value="cancelled"><%= QuestCMS.l("Cancelled") %></option>
									</select>
									<label for="status" style=""><%= QuestCMS.l("Status") %></label>
								</div>
								<div class="form-group col-md-2 searchForm" style="padding-left: 0px; padding-right: 0px; margin:0px; width:150px;">
									<input title="<%= QuestCMS.l("Reset") %>" class="btn btn-default" type="reset" value="<%= QuestCMS.l("Reset") %>" style="width: 50%"></input>
									<input title="<%= QuestCMS.l("Search") %>" class="ladda-button btn btn-primary submit-search" data-style="zoom-in" value="<%= QuestCMS.l("Search") %>" type="submit" style="margin-left:-5px; width:50%"></input>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>

			<div class="panel panel-info">
				<div class="panel-heading"><%= QuestCMS.l("Appointment ") %><%= QuestCMS.l("List") %>
					<label class="filter_count">  - 0  </label>
					<label><%= QuestCMS.l(" items found") %> </label>

					<form id="pager" class="pager tablesorter-pager pull-right">
						<a type="button" class="btn btn-xs btn-default first"><span class="glyphicon glyphicon-fast-backward " aria-hidden="true"></span></a>
						<a type="button" class="btn btn-xs btn-default prev"><span class=" glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
						<span class="pagedisplay"></span>
						<a type="button" class="btn btn-xs btn-default follow"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
						<a type="button" class="btn btn-xs btn-default last"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a>
						<select class="pagesize" title="Select Page Size">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option selected="selected" value="50">50</option>
						</select>
						<select class="gotoPage" title="Select page number"></select>
					</form>

				</div>
				<table class="table table-list-search table-responsive tablesorter" id="AllAppointmentList">
					<thead>
						<tr>
							<th width="15%"><%= QuestCMS.l("Booking") %></th>
							<th width="18%"><%= QuestCMS.l("Registrant") %></th>
							<th width="9%"><%= QuestCMS.l("HKID") %></th>
							<th width="8%"><%= QuestCMS.l("Status") %></th>
							<th width="8%"><%= QuestCMS.l("Verified") %>?</th>
							<th class="information" width="15%"><%= QuestCMS.l("Information") %></th>
							<th class="task" width="15%"><%= QuestCMS.l("Task") %></th>
							<th class="print" width="12%"><%= QuestCMS.l("Print ") %><%= QuestCMS.l("Amount") %></th>
						</tr>
					</thead>
					<tbody class="questcms-appointments"></tbody>
				</table>
			</div>

			<div class="row">
				<div class="questcms-paginator"></div>
			</div>

			<div class="row" id="reviewAppointment"></div>
	</div>
</script>


<script type="text/template" id="ViewAllAppointmentItemView">
	<td><%= obj.date + " " + obj.time%></td>
	<td><%= obj.userId.code + ". " + obj.userId.lastName + " " + obj.userId.firstName %></td>
	<td><%= obj.userId.HKID %></td>
	<td><%= QuestCMS.l(obj.status) %></td>
	<td><span aria-hidden="true" class="glyphicon glyphicon-ok appointment-isVerified"></span></td>
	<td class="information">
		<button class="btn btn-info btn-xs appointment appointment-details"><%= QuestCMS.l("Details") %></button>
		<button class="btn btn-primary btn-xs appointment appointment-vendors"><%= QuestCMS.l("Club") %></button>
		<button class="btn btn-warning btn-xs appointment appointment-reviewFile"><%= QuestCMS.l("Review File") %></button>
	</td>
	<td class="task">
    <button class="btn btn-success btn-xs appointment appointment-confirm" ><%= QuestCMS.l("Confirm") %></button>
    <button class="btn btn-info btn-xs appointment appointment-arrival" ><%= QuestCMS.l("Arrival") %></button>
    <button class="btn btn-danger btn-xs appointment appointment-delete"><%= QuestCMS.l("Cancel") %></button>
  </td>
	<td class="printLabel-td">

    <div class="input-group" style="width:100px;">
			<input class="form-control appointment textbox-in-list" id="noOfLabel" type="text" style="padding: 0px;"/>
      <span class="input-group-btn">
				<button class="btn btn-warning appointment btn-xs printLabel"><%= QuestCMS.l("Print") %></button>
      </span>
    </div><!-- /input-group -->
	</td>
	<td class="export hidden">
		<button class="btn btn-success btn-xs appointment appointment-export"><%= QuestCMS.l("Export") %></button>
	</td>
</script>

<script type="text/template" id="ViewMonthBookingAppointmentItemView">
	<div class = "container">
	<h2><%= QuestCMS.l("Monthly ") %><%= QuestCMS.l("Appointment") %></h2>
	<h5 style="color: red;padding-bottom: 10px"><b><%= QuestCMS.l("Format") %> : </b><%= QuestCMS.l("Opening ") %><%= QuestCMS.l("Time") %> ~ <%= QuestCMS.l("Closing ") %><%= QuestCMS.l("Time") %> | <%= QuestCMS.l("Appointment") %> / <%= QuestCMS.l("Quota") %></h5>
		<div id="MonthBookingAppointment">
		</div>
	</div>
</script>


<script type="text/template" id="ReviewSubmittedFiles">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= username %>'s <%= QuestCMS.l("Submitted Files") %></h4>
			</div>
			<div class="modal-body">
				<ul class="submittedFiles"></ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</script>


<script type="text/template" id="AppointmentHistoryCompositeView">
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading"><%= QuestCMS.l("Appointments") %><span class="glyphicon glyphicon-refresh refresh canClick pull-right" style="margin-left: 15px;"></span>
				<form id="pager" class="pager tablesorter-pager pull-right">
					<a type="button" class="btn btn-xs btn-default first"><span class="glyphicon glyphicon-fast-backward " aria-hidden="true"></span></a>
					<a type="button" class="btn btn-xs btn-default prev"><span class=" glyphicon glyphicon-step-backward" aria-hidden="true"></span></a>
					<span class="pagedisplay"></span>
					<a type="button" class="btn btn-xs btn-default follow"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
					<a type="button" class="btn btn-xs btn-default last"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></a>
					<select class="pagesize" title="Select Page Size">
						<option selected="selected" value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
					</select>
					<select class="gotoPage" title="Select page number"></select>
				</form> </div>
			<table class="table table-list-search table-responsive tablesorter" id="myAppointmentList">
				<thead>
					<tr>
						<th width="30%"><%= QuestCMS.l("Date") %></th>
						<th width="25%"><%= QuestCMS.l("Time") %></th>
						<th width="10%"><%= QuestCMS.l("Status") %></th>
						<th width="10%"><%= QuestCMS.l("Arrival") %></th>
						<th width="25%"><%= QuestCMS.l("Options") %></th>
					</tr>
				</thead>
				<tbody class="questcms-appointmentHistory">
				</tbody>
			</table>
		</div>
	</div>
</script>

<script type="text/template" id="AppointmentHistoryItemView">
	<td>
		<label class="control-label"><%= obj.date %></label><input type="text" class="form-control bookedDate hidden" name="date" value="<%= obj.date %>" />
	</td>
	<td>
		<label class="control-label"><%= obj.time %></label><input type="text" class="form-control bookedTime hidden" name="time" value="<%= obj.time %>" />
	</td>
	<td>
		<span><%= QuestCMS.l(obj.status) %></span>
	</td>
	<td>
		<span><%= QuestCMS.l(obj.arrived.toString()) %></span>
	</td>
	<td>
		<button class="btn btn-primary btn-xs appointment-save"><%= QuestCMS.l("Save") %></button>
		<button class="btn btn-success btn-xs appointment-change"><%= QuestCMS.l("Change") %><%= QuestCMS.l("Appointment") %></button>
		<button class="btn btn-danger btn-xs appointment-processing " disabled><%= QuestCMS.l("In Process") %></button>
		<button class="btn btn-danger btn-xs appointment-delete"><%= QuestCMS.l("Cancel") %><%= QuestCMS.l("Appointment") %></button>
		<button class="btn btn-danger btn-xs appointment-cancel"><%= QuestCMS.l("Cancel") %></button>
	</td>
</script>


<script type="text/template" id="MakeAppointmentView">
  <div class="container well">
		<form id="bookAppointmentForm" class="form-horizontal">
			<fieldset>
				<h4 class="title"><span id="DisplayUsername" /><%= QuestCMS.l("Booking Appointment") %></h4>
				<br>
				<div class="form-group">
					<label class="col-md-2 control-label" for="date"><%= QuestCMS.l("Date") %></label>
					<div class="col-md-4">
						<input name="date" class="form-control input-md bookingDate" value="" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="time"><%= QuestCMS.l("Time") %></label>
					<div class="col-md-4">
						<input name="time" class="form-control input-md bookingTime readonlyButVisible" value="<%= obj.time %>" required="required"/>
					</div>
				</div>
				﻿<div class="form-group">
					<label class="col-md-2 control-label" for="branch"><%= QuestCMS.l("Branch") %></label>
					<div class="col-md-4">
						<select id="branch" name="branch" class="form-control" required>
						</select>
					</div>
				</div>
				<hr/>
				<div class="form-group buttonGroup">
					<a href="#user/search" class="btn btn-md btn-default pull-right actAButton"><%= QuestCMS.l("Back") %></a>
					<button class="btn btn-primary btn-md appointment-submit pull-right ladda-button" data-style="zoom-in"><%= QuestCMS.l("Book") %></button>
				</div>
			</fieldset>
		</form>
	</div>
</script>
