<script type="text/template" id="FileTable">
	<div id="toolbar">
		<span data-tip=<%= QuestCMS.l("File-Delete") %>>
			<button id="remove" class="btn btn-danger" disabled>
					<i class="glyphicon glyphicon-remove"></i> <%= QuestCMS.l("Delete") %><%= QuestCMS.l("files") %>
			</button>
		</span>
		<span class="btn btn-success fileUpload-button">
			<i class="glyphicon glyphicon-plus"></i>
			<span><%= QuestCMS.l("Select") %><%= QuestCMS.l("files") %>...</span>
			<input class="fileUpload-button submitFiles input btn" data-path="./../data/memberFiles/<%= userId %>" id="importPDF" type="file" name="files" />
		</span>
	</div>
	<table id="table-userFiles"></table>
</script>

<script type="text/template" id="UploadFile">
	<div class="container">
		<h3><%= QuestCMS.l("Upload ") %><%= QuestCMS.l("Medical Certificate") %></h3>
		<div id="FileTable" />
		<div class="pull-right">
			<button id="file-save" type="submit" class="btn btn-md btn-primary"><%= QuestCMS.l("Save") %></button>
		</div>
	</div>
</script>
