<script type="text/template" id="ItemView">
	<div class="container footer">
		<!--
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
		-->
				<nav class="navbar navbar-inverse navbar-fixed-bottom footer-navbar" role="navigation">
					<div class="alert alert-success" style="display: none"></div>
					<div class="copyright"><%= QuestCMS.l("Copyright") %> &copy; 2015 <%= QuestCMS.l("Cheer Baby") %>.  <%= QuestCMS.l("Powered by Questwork Consultant Limited") %></div>
				</nav>

			<!--
			</div>
			<div class="col-md-2">
				<div id="languageMenuRegion" class="first-row"></div>
			</div>
			-->
		</div>
		<!--
		<div class="row">&nbsp;</div>
		-->
	</div>
</script>
