<script type="text/template" id="createNewItem">
	<div class="container">
		<form id="itemDetail" class="form-horizontal">
			<fieldset>
				<h4><%= QuestCMS.l("New Item") %></h4>
				<span class='glyphicon-color-red'>*</span>: <%= QuestCMS.l("Mandatory ") %>
				<br>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Item ") %><%= QuestCMS.l("Name") %> <span class='glyphicon-color-red'>*</span></label>
					<div class="col-md-4">
						<input name="chiName" type="text" class="form-control input-md" placeholder="<%= QuestCMS.l("Chinese") %>" data-toggle="floatLabel" data-value="no-js" value="<%= obj.chiName %>" required/>
						<label for="chiName" style=""><%= QuestCMS.l("Chinese") %></label>
					</div>
					<div class="col-md-4">
						<input name="engName" type="text" class="form-control input-md" placeholder="<%= QuestCMS.l("English") %>" data-toggle="floatLabel" data-value="no-js" value="<%= obj.engName %>" required/>
						<label for="engName" style=""><%= QuestCMS.l("English") %></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="unit"><%= QuestCMS.l("Item ") %><%= QuestCMS.l("unit") %> <span class='glyphicon-color-red'>*</span></label>
					<div class="col-md-4">
						<input id="unit" name="unit" placeholder="<%= QuestCMS.l("Item ") %><%= QuestCMS.l("unit") %>" class="form-control input-md" type="text" value="<%= obj.unit %>" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="vendorId"><%= QuestCMS.l("Vendor ") %><span> </span></label>
					<div class="col-md-4">
						<input id="vendorCode" name="vendorCode" placeholder="<%= QuestCMS.l("Vendor") %>" class="form-control input-md" type="text" value="<%= obj.vendorCode %>" required disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="replenishmentLevel"><%= QuestCMS.l("Replenishment Level") %> <span class='glyphicon-color-red'>*</span></label>
					<div class="col-md-4">
						<input id="replenishmentLevel" type="text" name="replenishmentLevel" placeholder="<%= QuestCMS.l("Replenishment Level") %>" class="form-control input-md" type="text" value="<%= obj.replenishmentLevel %>" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="supplyPeriod"><%= QuestCMS.l("Supply Period") %> <span class='glyphicon-color-red'>*</span></label>
					<div class="col-md-4">
						<input id="supplyPeriod" name="supplyPeriod" type="text" placeholder="<%= QuestCMS.l("Supply Period") %>" class="form-control input-md" type="text" value="<%= obj.supplyPeriod %>" required>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="description"><%= QuestCMS.l("Description") %><span> </span></label>
					<div class="col-md-6">
						<textarea class="form-control" id="description" name="description" rows="5" placeholder="<%= QuestCMS.l("Description") %>"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="active"><%= QuestCMS.l("Item ") %><%= QuestCMS.l("active") %></label>
					<div class="col-md-4">
						<label class="radio-inline">
							<input name="active" value="true" type="radio" <%= (!obj.active) ? "" : "checked" %>><%= QuestCMS.l("active") %>
						</label>
						<label class="radio-inline">
							<input name="active" value="false" type="radio" <%= (!obj.active) ? "checked" : "" %>><%= QuestCMS.l("inactive") %>
						</label>
					</div>
				</div>
				<hr>
				<div class="buttonGroup">
					<button class="btn btn-default btn-md item-cancel pull-right"><%= QuestCMS.l("Cancel") %></button>
					<button class="btn btn-primary btn-md item-create pull-right ladda-button" data-style="zoom-in"><%= QuestCMS.l("Save") %></button>
					<button id="createItemNext" class="btn btn-success btn-md pull-right" style="display: none"><%= QuestCMS.l("Save") %></button>
				</div>
			</fieldset>
		</form>
	</div>
</script>

<script type="text/template" id="ShowItemView">
	<div class="container">
		<h4><%= QuestCMS.l("Search ") %><%= QuestCMS.l("Item") %></h4>
			<div class="form-group">
				<label class="col-md-2 control-label"><%= QuestCMS.l("Item") %><%= QuestCMS.l("Code") %></label>
				<div class="col-md-4">
					<input id="itemId" name="itemId" type="text" class="form-control" placeholder="<%= QuestCMS.l("Enter") %><%= QuestCMS.l("Item") %><%= QuestCMS.l("Code") %>"></input>
				</div>
		</div>
		<hr/>
		<form id="itemDetails" role="form" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Item ") %><%= QuestCMS.l("Chinese ") %><%= QuestCMS.l("Name") %> </label>
					<div class="col-md-4">
						<input id="chiName" name="chiName" type="text" class="form-control" disabled></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Item") %><%= QuestCMS.l("English") %><%= QuestCMS.l("Name") %> </label>
					<div class="col-md-4">
						<input id="engName" name="engName" type="text" class="form-control" disabled></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Item") %><%= QuestCMS.l("unit") %> </label>
					<div class="col-md-4">
						<input id="unit" name="unit" type="text" class="form-control" disabled></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Vendor") %> </label>
					<div class="col-md-4">
						<input id="vendorCode" name="vendorCode" type="text" class="form-control" disabled></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Replenishment Level") %> </label>
					<div class="col-md-4">
						<input id="replenishmentLevel" name="replenishmentLevel" type="text" class="form-control" disabled></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Supply Period") %> </label>
					<div class="col-md-4">
						<input id="supplyPeriod" name="supplyPeriod" type="text" class="form-control" disabled></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label"><%= QuestCMS.l("Description") %> </label>
					<div class="col-md-6">
						<textarea id="description" name="description" rows="5" type="text" class="form-control" disabled></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="active"><%= QuestCMS.l("Item ") %><%= QuestCMS.l("Active") %></label>
					<div class="col-md-4">
						<label class="radio-inline">
							<input name="active" value="true" type="radio" <%= (obj.active) ? "checked" : "" %>><%= QuestCMS.l("active") %>
						</label>
						<label class="radio-inline">
							<input name="active" value="false" type="radio" <%= (obj.active) ? "" : "checked" %>><%= QuestCMS.l("inactive") %>
						</label>
					</div>
				</div>
				<hr/>
				<div class="buttonGroup">
					<button class="btn btn-default btn-md item-cancel pull-right"><%= QuestCMS.l("Cancel") %></button>
					<button class="btn btn-primary btn-md item-confirm pull-right ladda-button" data-style="zoom-in"><%= QuestCMS.l("Confirm") %></button>
					<button id="viewItemNext" class="btn btn-success btn-md pull-right" style="display:none"><%= QuestCMS.l("next") %></button>
				</div>
			</fieldset>
		</form>
	</div>
</script>



<script type="text/template" id="ViewAllItemsByVendorCompositeView">
	<div class="container">
		<h2 class="reviewItemHeader"><%= QuestCMS.l("review ") %><%= QuestCMS.l("item") %></h2>
			<form class="form-horizontal filter-form" role="form">
				<fieldset>
					<div class="form-ground header">
						<div class="panel panel-info">
							<div class="panel-heading user-header">
								<%= QuestCMS.l("Search ") %><%= QuestCMS.l("Items") %>
							</div>
								<div class="form-group col-md-4" style="width:300px">
									<input name="universalSearch" class="form-control input-md universalSearch" placeholder="<%= QuestCMS.l("Vendor") %> <%= QuestCMS.l("Code") %>" data-toggle="floatLabel" data-value="no-js"/>
									<label for="universalSearch" style=""><%= QuestCMS.l("Vendor") %> <%= QuestCMS.l("Code") %></label>
								</div>
								<div class="form-group col-md-2 stockTypeRegion hidden" style="width:300px;">
									<select id="stockType" name="stockType" class="form-control" data-toggle="floatLabel" data-value="no-js">
										<option value="Stock-In" ><%= QuestCMS.l("Stock In") %></option>
										<option value="Stock-Out"><%= QuestCMS.l("Stock Out") %></option>
									</select>
									<label for="stockType" style=""><%= QuestCMS.l("Stock In/Out") %></label>
								</div>
								<div class="form-group col-md-4 branchRegion" style="width:600px">
									<select id="branch" name="branch" class="branch form-control" data-toggle="floatLabel" data-value="no-js">
									</select>
									<label for="branch" style=""><%= QuestCMS.l("Branch") %></label>
								</div>
								<div class="form-group col-md-2 searchForm report-search" style="padding-left: 0px; padding-right: 0px; margin:0px;">
									<input title="<%= QuestCMS.l("Reset") %>" class="btn btn-default" type="<%= QuestCMS.l("Reset") %>" style="width: 50%" value="<%= QuestCMS.l("Reset") %>"></input>
									<input title="<%= QuestCMS.l("Search") %>" class="btn btn-primary search" type="submit" value="<%= QuestCMS.l("Search") %>" style="margin-left:-5px; width:50%"></input>
								</div>
							</div>
						</div>
				</fieldset>
			</form>
			<div id="vendorDetails"></div>
				<div class="panel panel-info">
					<div class="panel-heading"><%= QuestCMS.l("Items ") %><%= QuestCMS.l("List") %>
						<label class="center_count">  - 0  </label>
						<label><%= QuestCMS.l(" items found") %> </label>
					</div>
					<table class="table table-list-search table-responsive tablesorter" id="itemTable">
						<thead>
							<tr>
								<th><%= QuestCMS.l("Item") %><%= QuestCMS.l("Code") %></th>
								<th><%= QuestCMS.l("Item") %><%= QuestCMS.l("Chinese ") %><%= QuestCMS.l("Name") %></th>
								<th><%= QuestCMS.l("Item") %><%= QuestCMS.l("English ") %><%= QuestCMS.l("Name") %></th>
								<th><%= QuestCMS.l("active") %></th>
								<th><%= QuestCMS.l("Quantity") %></th>
								<th><%= QuestCMS.l("Options") %></th>
							</tr>
						</thead>
						<tbody class="questcms-items">
						</tbody>
					</table>
				</div>
	</div>
</script>


<script type="text/template" id="ViewEachItemByVendorItemView">

	<td><b><%= obj.itemCode %></b></td>
	<td><b><%= obj.chiName %></b></td>
	<td><b><%= obj.engName %></b></td>
	<td><%= (!obj.active) ? QuestCMS.l("Inactive") : QuestCMS.l("Active") %></td>
	<td><%= obj.quantity %></td>
	<td class="edit">
		<button class="btn btn-success btn-xs editItem "><%= QuestCMS.l("Edit") %></button>
		<button id="editItemNext" class="btn btn-success btn-xs hidden"></button>
	</td>
	<td class="export hidden">
		<button class="btn btn-success btn-xs exportByItem "><%= QuestCMS.l("Export") %></button>
	</td>
</script>

<script type="text/template" id="VendorDetailsItemView">
	<div class="container">
		<form id="vendorDetails" role="form" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-md-2 control-label" for="name"><%= QuestCMS.l("brand ") %><%= QuestCMS.l("Name") %></label>
					<div class="col-md-4">
							<input name="chiBrandName" value="<%= obj.chiBrandName %>" type="text" class="form-control input-md" data-toggle="floatLabel" data-value="no-js" disabled />
							<label for="chiBrandName"><%= QuestCMS.l("Chinese") %></label>
					</div>
					<div class="col-md-4">
							<input name="engBrandName" value="<%= obj.engBrandName %>" type="text" class="form-control input-md" data-toggle="floatLabel" data-value="no-js" disabled />
							<label for="engBrandName" style=""><%= QuestCMS.l("English") %></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="category"><%= QuestCMS.l("Category ") %></label>
					<div class="col-md-4 ">
						<select class="form-control categoriesList" name="categoryId" disabled>
							<option value="<%= obj.categoryId %>" selected></option>
						</select>
					</div>
					<div class="col-md-4 ">
						<input name="vendorCode" value="<%= obj.categoryCode %>" type="text" class="form-control input-md" data-toggle="floatLabel" data-value="no-js" disabled />
						<label for="vendorCode"><%= QuestCMS.l("Category") %><%= QuestCMS.l("Code") %></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="code"><%= QuestCMS.l("Business Registration Number") %></label>
					<div class="col-md-4 ">
						<input type="text" class="form-control" value="<%= obj.code %>" name="businessRegistrationNumber" disabled />
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</script>


<script type="text/template" id="StepFlowView">
	<div class="container well">
		<div class="questcms-stepFlow">
			<div class="questcms-stepFlow-row step-panel">
				<div class="questcms-stepFlow-step hidden">
					<a href="#step-0" type="button" class="btn btn-primary btn-circle goToWhichStep">0</a>
					<p class="questcms-stepFlow-label"></p>
				</div>
			</div>
		</div>
		<form id="step-contents" role="form" class="form-horizontal">
			<fieldset>
				<div class="row step-content hidden" id="step-0"></div>
			</fieldset>
		</form>
	</div>
</script>
