<script type="text/template" id="Layout">

    <div class="container-loginpage">
        <div class="container">
          <section class="wrapper wrapperGray">&nbsp;</section>
					<div id="languageMenuRegion" class="nav navbar-nav navbar-right"></div>
          <section id="contentRegion"></section>
          <section class="wrapper wrapperGray">&nbsp;</section>
          <div><span><%= QuestCMS.l("Powered by Questwork Consultant Limited") %>.  <%= QuestCMS.l("Last modified") %>: 2015-09-14(version 1.2.7)</span></div>
        </div>
    </div>

</script>
