<script type="text/template" id="ListView">
  <div class="navigationMenuRegion">
    <ul class="questcms-navigationmenu"></ul>
    <a href="#" class="btn btn-danger pull-right submitAssignment" id="submitAssignment"><%= QuestCMS.l("Postpone") %></a>    
    <span class="navigationMenuCounter pull-right">
      <%= QuestCMS.l("No. of attempted") %>: <span id="numOfAttempted">0</span>/<span id="totalNumOfQuestions">0</span>
    </span>
  </div>
</script>

<script type="text/template" id="ItemView">
    <img class="navigationmenu-item" src="<%= obj.imgsrc %>" alt="<%= obj.imgalt %>" /><span class="navigationMenuItem"><%= obj.order %></span>
</script>

