<script type="text/template" id="PasswordEditView">
	﻿<div class="container">
		<form>
			<div class="control-group">
				<div class="password-header"><%= QuestCMS.l("Change Password") %></div>
			</div>
			<div class="control-group showCurrentPassword" id="currentPassword">
				<%= QuestCMS.l("Current password") %>: <span class="currentPassword"></span>
			</div>
			<div>&nbsp;</div>
			<div class="control-group">
				<label for="password" class="control-label"><%= QuestCMS.l("Password") %>:</label>
				<div class="controls">
						<input class="form-control input-md"type="password" id="password" name="password" value="" />
				</div> 	
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
									<span id="char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <span class="password-min-length"></span> <%= QuestCMS.l("Characters Long") %> <br>
									<!-- <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <%= QuestCMS.l("At Least") %> <span class="password-uppercase-length"></span> <%= QuestCMS.l("Uppercase Letter") %>   -->
									<span id="ecase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <%= QuestCMS.l("At Least") %> <span class="password-upperOrLowercase-length"></span> <%= QuestCMS.l("Text") %>
					</div>
					<div class="col-md-3">
									<!-- <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <%= QuestCMS.l("At Least") %> <span class="password-Lowercase-length"></span> <%= QuestCMS.l("Lowercase Letter") %> <br> -->
									<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <%= QuestCMS.l("At Least") %> <span class="password-number-length"></span> <%= QuestCMS.l("Number") %>
					</div>
				</div>
			</div>
			<div class="control-group">
					<label for="password_retype" class="control-label"><%= QuestCMS.l("Retype Password") %>:</label>
					<div class="controls">
							<input class="form-control input-md" type="password" id="password_retype" name="password_retype" value="" />
					</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
					<span id="passwordmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> <%= QuestCMS.l("Passwords Match") %>
					</div>
				</div>
			</div>
			<div>&nbsp;</div>
			<div class="control-group">     
					<button class="btn btn-primary user-submit" id="user-submit"><%= QuestCMS.l("Submit") %></button>      
					<a href="#homepage" class="btn btn-default user-cancel"><%= QuestCMS.l("Cancel") %></a>
			</div>
		</form>
	</div>
</script>