<script type="text/template" id="ListView">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
  <div class="questcms-carouselsbox">
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators questcms-carousel-indicators"></ol>
			<!-- Carousel items -->
			<div class="carousel-inner questcms-carousels"></div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
  </div>
  
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="ItemView">
  <img src="<%= obj.imgsrc %>" alt="<%= obj.imgalt %>">
  <div class="carousel-caption">
    <%= obj.content %>
  </div>
</script>

<script type="text/template" id="ItemEdit">
      <div class="control-group">
          <label for="name" class="control-label"><%= QuestCMS.l("Name") %>:</label>
          <div class="controls">
              <input type="text" id="name" name="name" value="<%= obj.name %>" />
          </div>
      </div>

      <div class="control-group">
          <label for="alias" class="control-label"><%= QuestCMS.l("Alias") %>:</label>
          <div class="controls">
              <input type="text" id="alias" name="alias" value="<%= obj.alias %>" />
          </div>
      </div>      
      
      <div class="control-group">
          <label for="title" class="control-label"><%= QuestCMS.l("Title") %>:</label>
          <div class="controls">
              <input type="text" id="title" name="title" value="<%= obj.title %>" />
          </div>
      </div>

      <div class="control-group">
          <label for="content" class="control-label"><%= QuestCMS.l("Content") %>:</label>
          <div class="controls">
              <textarea class="editor" id="content" name="content" ><%= obj.content %></textarea>
          </div>
      </div>

      <div class="control-group">
          <label for="targetUrl" class="control-label"><%= QuestCMS.l("Target Url") %>:</label>
          <div class="controls">
              <input type="text" id="targetUrl" name="targetUrl" value="<%= obj.targetUrl %>" />
          </div>
      </div>
      
      <div class="control-group">
          <label for="target" class="control-label"><%= QuestCMS.l("Target") %>:</label>
          <div class="controls">
              <input type="text" id="target" name="target" value="<%= obj.target %>" />
          </div>
      </div>
      
      <div class="control-group">
          <label for="imgsrc" class="control-label"><%= QuestCMS.l("Image Source") %>:</label>
          <div class="controls">
              <input type="text" id="imgsrc" name="imgsrc" value="<%= obj.imgsrc %>" />
          </div>
      </div>
      
      <div class="control-group">
          <label for="imgalt" class="control-label"><%= QuestCMS.l("Image alt text") %>:</label>
          <div class="controls">
              <input type="text" id="imgalt" name="imgalt" value="<%= obj.imgalt %>" />
          </div>
      </div>
      
      <div class="control-group">
          <label for="order" class="control-label"><%= QuestCMS.l("Order") %>:</label>
          <div class="controls">
              <input type="text" id="order" name="order" value="<%= obj.order %>" />
          </div>
      </div>
      
      <% if (!obj.language) { %>
      <div class="control-group">
          <label for="language" class="control-label"><%= QuestCMS.l("Language") %>:</label>
          <div class="controls">
              <select id="language" name="language" value="<%= obj.language %>" >
                  <option value="en-us" <%= obj.language == 'en-us'?'selected':'' %>>English</option>
                  <option value="zh-hant" <%= obj.language == 'zh-hant'?'selected':'' %>>Traditional Chinese</option>
                  <option value="zh-hans" <%= obj.language == 'zh-hans'?'selected':'' %>>Simplified Chinese</option>
              </select>
          </div>
      </div>
      <% } %>
      
      <div class="control-group">
          <label for="isPublish" class="control-label"><%= QuestCMS.l("Publish") %>:</label>
          <div class="controls">
            <input type="radio" id="isPublish" name="isPublish" value="1" <%= obj.isPublish ?'checked':'' %> /><%= QuestCMS.l("Yes") %>
            <input type="radio" id="isPublish" name="isPublish" value="0" <%= obj.isPublish ?'':'checked' %> /><%= QuestCMS.l("No") %>
          </div>
      </div>
      
                        
      <div class="control-group">
          <label for="isActive" class="control-label"><%= QuestCMS.l("Active") %>:</label>
          <div class="controls">
            <input type="radio" id="isActive" name="isActive" value="1" <%= obj.isActive ?'checked':'' %> /><%= QuestCMS.l("Yes") %>
            <input type="radio" id="isActive" name="isActive" value="0" <%= obj.isActive ?'':'checked' %> /><%= QuestCMS.l("No") %>
          </div>
      </div>
</script>


<script type="text/template" id="ModalView">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel"><%= QuestCMS.l("Title") %></h3>
				</div>
      <div id="modal-content" class="modal-body">

			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= QuestCMS.l("Close") %></button>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</script>
