<script type="text/template" id="FormView">
  <form class="navbar-form pull-right">
    <input type="text" name="search" id="searchTerm" class="col-md-2" />
    <button type="submit" class="btn btn-default"><%= QuestCMS.l("Search") %></button>
  </form>
</script>

<script type="text/template" id="SpinnerView">
  <div class="modal-dialog ">
    <div class="modal-content">

      <div class="modal-body">
		<div id="spinner"><%= QuestCMS.l("Loading") %>...</div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</script>

<script type="text/template" id="ItemView">
  <div class="banner-blue"><a href="#<%= obj.alias %>" title="<%= obj.title %>"><%= obj.title %></a> #<%= obj.id %></div>
  <div><%= obj.content %></div>
  <hr />
</script>

<script type="text/template" id="ListView">
  <div class="container">
    <div><%= QuestCMS.l("search-query") %> "<span id="search-term"></span>" <%= QuestCMS.l("search-result") %>:</div>
    <ul class="questcms-searchresults"></ul>
    <div class="questcms-paginator"></div>
  </div>
</script>