<script type="text/template" id="ListView">
<div class="administrator"></div>
</script>

<script type="text/template" id="ItemView">
    <div class="userlist"><%= QuestCMS.l("user List") %>
	<ul class="user">
	<%= obj._id %>
	<%= obj.username %>
	<%= obj.password %>
	<%= obj.lastName %>
	<%= obj.firstName %>
	<%= obj.lastNameOther %>
	<%= obj.firstNameOther %>
	<%= obj.phones %>
	<%= obj.addresses %>
	<%= obj.emails %>
	<%= obj.roles %>
	<%= obj.picture %>
	<%= obj.isActivated %>
	<%= obj.isActive %>
	</ul>
	
    
</script>

<script type="text/template" id="ItemEdit">

    <div class="userlist"><%= QuestCMS.l("user List") %>
      <input id = "1" type = "button" value = "export" >
	  <input id = "2" type = "button" value = "import" >
  </div>
</script>