<script type="text/template" id="ItemView">
  <form>
      <div class="control-group">
          <h3><%= QuestCMS.l('Activate User') %></h3>
      </div>

      
      <div class="control-group">
        <%= QuestCMS.l('You are required to activate your account by email before using the system.') %>
      </div>
      
      <div class="control-group">
          <label for="email" class="control-label"><%= QuestCMS.l("Email") %>:</label>
          <div class="controls">
              <input type="text" id="email" name="email" value="<%= obj.email %>" />
          </div>
      </div>
			
			
			<div>&nbsp;</div>
			<div class="control-group">     
					<button class="btn btn-primary user-submit" id="user-submit"><%= QuestCMS.l("Submit") %></button>      
					<button class="btn btn-default user-logout"><%= QuestCMS.l("Logout") %></button>
			</div>
  </form>
</script>


<script type="text/template" id="ListView">
  <div class="container">
    <div class="row">
      <div class="questcms-users "></div>
    </div>
    <div class="row">
      <div class="questcms-paginator"></div>
    </div>
  </div>
</script>
